<%- include('partials/header') -%>
    <div class = "body-center">
    <h2 class = "item-div">Welcome,<%= name.given_name %></h2>
    <div class = "table-responsive weather-div">
        <table class = 'table' >
            <tbody>
            <tr>
                <form action="/mumbai" method="post">
                    <td class = "table"><button class = "btn btn-outline-dark btn-lg btn-block button" type = "submit">Navi Mumbai</button></td>
                </form>
            </tr>
            <tr>
                <form action="/bangalore" method="post">
                    <td class = "table"><button class = "btn btn-outline-dark btn-lg btn-block button" type = "submit">Bangalore</button></td>
                </form>
                
            </tr>
            <tr>
                <form action="/london" method = "post">
                    <td class = "table"><button class = "btn btn-outline-dark btn-lg btn-block button" type = "submit">London</button></td>
                </form>
                
            </tr>
            <tr>
                <form action="/new-york" method="post">
                    <td class = "table"><button class = "btn btn-outline-dark btn-lg btn-block button" type = "submit">New York</button></td>
                </form>
                
            </tr>
            <tr>
                <form action="/sydney" method="post">
                    <td class = "table"><button class = "btn btn-outline-dark btn-lg btn-block button" type = "submit">Sydney</button></td>
                </form>
                
            </tr>
        </tbody>
        </table>
    </div>
    <a class="btn btn-dark item-div" href="/logout">Logout</a>
</div>
<%- include('partials/footer') -%>