<%- include('partials/header') -%>
    <div class = "body-center">
    <h2 class = "item-div">Welcome,<%= name.given_name %></h2>
    <div class = "table-responsive weather-div">
        <table class = 'table' >
            <tbody>
            <tr>
                <td class = "table"><a class = "btn btn-outline-dark btn-lg btn-block button" href="/mumbai">Navi Mumbai</a></td>
            </tr>
            <tr>
                <td class = "table"><a class = "btn btn-outline-dark btn-lg btn-block button" href="/bangalore">Bangalore</a></td>
            </tr>
            <tr>
                <td class = "table"><a class = "btn btn-outline-dark btn-lg btn-block button" href="/london">London</a></td>
            </tr>
            <tr>
                <td class = "table"><a class = "btn btn-outline-dark btn-lg btn-block button" href="/new-york">New York</a></td>
            </tr>
            <tr>
                <td class = "table"><a class = "btn btn-outline-dark btn-lg btn-block button" href="/sydney">Sydney</a></td>
            </tr>
        </tbody>
        </table>
    </div>
    <a class="btn btn-dark item-div" href="/logout">Logout</a>
</div>
<%- include('partials/footer') -%>